# MySQL
MYSQL_HOST=127.0.0.1
MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DATABASE=mysql_db
MYSQL_USER=appuser
MYSQL_PASSWORD=apppass

# Postgres
POSTGRES_DATABASE=pg_db
POSTGRES_DB=pg_db
POSTGRES_USER=appuser
POSTGRES_PASSWORD=apppass
