# MySQL
MYSQL_HOST=127.0.0.1
MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=mysql_db
MYSQL_USER=appuser
MYSQL_PASSWORD=change_me

# Postgres
POSTGRES_DATABASE=pg_db
POSTGRES_DB=pg_db
POSTGRES_USER=appuser
POSTGRES_PASSWORD=change_me
